// Pre-main
.container
  margin-left: 17vw
  &__tabs
    display:none
    min-height: 80vh
    max-height: 90vh
    &--active
      display: block
    &--header
      background-color: #eee
      margin 0 15px 0 -15px

.status-bar
  &__right
    button
      float: right
      margin: 0 10px
