.home
  padding: 20px
  &__monitor
    height: 50vh
    border-bottom: 1px solid #eee
  &__information
    padding: 15px
  > div
    height: 100%
    display: flex
    align-content: center

.program-display
  width: 100%
  div:nth-child(2n)
    background-color: #eee
  &__header
    font-weight: bold
  &__body
    text-align: right
