.home
  padding: 20px
  &__monitor
    height: 50vh
    border-bottom: 1px solid #eee
  &__information
    padding: 15px
    > div
      border 1px solid #eee
  > div
    height: 100%
    display: flex

.program-display
  width: 100%
  div:nth-child(2n)
    background-color: #eee
  &__header
    font-family ForteenSegment
    font-weight: bold
  &__body
    text-align: right

.state
  &--active
    color: lime
  &--unactive
    color: red

.meter
  &__container
    display flex
    align-items center
  &__display
    flex 1
    height 90%
    align-items center
    display flex
    background-color #dde
    margin 10px 5px
    border 2px solid blue
    border-radius 10px

canvas
  margin auto

button
  min-width 4vw

.tag
  border-radius 5px 5px
  background-color #bbb
  color #fff
  padding 2px 2px
  margin 3px 4px

.tags__row
    display flex
    flex-wrap wrap
    justify-content center
