.navs
  ul
    list-style-type none
    font-size 1.75rem
    -webkit-padding-start 0
  li
    padding 5px
    line-height 2
    &:nth-child(2n+1)
      background-color #efefef
    a
      display block
