.programs
  height 70vh
  margin 5px 10px
  display flex
  &--active
    background-color blue
  &__list
    border-right 1px solid #eee
    flex 1
    margin-left -3vw
    display flex
    flex-direction column
  &__table
    width 100%
    &--container
      overflow auto
      flex 20
      margin 10px 0
    &--row
      td
        margin 5px 0
        padding 10px 0
      &:nth-child(2n+1)
        background-color #fff
      &:nth-child(2n)
        background-color #eee
  &__name
    font-weight bold
    font-size 1.2em
    margin 0 10px
  &__details
    font-size 0.8em
    margin 0 5px
    text-align right
  &__handles
    flex 1
    display flex
    flex-direction row
    &--button
      flex 1
  &__form-container
    overflow auto
    &--active
      height 10vh
      flex 4
  &__form
    width 100%
    padding 2px 0 5px
    border-bottom 1px solid black
    input
      width 100%
      margin 2px 0

.steps__table
  &--header
    border 1px solid black
    >.flexbox__cell
      line-height 25px
      border-right 1px solid black
      &:last-child
        border-right none
      >.flexbox__cell
        &:first-child
          border-bottom 1px solid black
        >.flexbox__cell
          border-right 1px solid black
          &:last-child
            border-right none
  &--body
    flex 20
    margin 2px 15px 2px -15px
    border 1px solid black
    .flexbox__cell
      border-right 1px solid black
      &:last-child
        border-right none
  &--form-container
    flex 0
    margin 0 15px 2px -15px
    &--active
      flex 1
  &--footer
    flex 2
    border 1px solid black
    margin 0px 15px 0 -15px
  &--row
    margin 5px 0
    padding 5px 0
    &:nth-child(2n)
      background-color #eee
  &--status
    padding 10px 5px
    border-bottom 1px solid #ddd
    line-heigth 1.5em

.steps__handles
  width 20%
  float right
  display flex
  padding 5px
  &--button
    flex 1
