.sidebar
  position: fixed
  left: 0
  top: 0
  bottom: 0
  display: block
  overflow-x: hidden
  overflow-y: auto
  border-right: 1px solid #eee

.navs
  &__option
    &--active
      background-color: #eee
