.user
  position relative
  height 100%
  &__header
    locale(relative)
  &__options
    float right
    margin 5px 5px 0 0
  &__profile
    &--frame
      height 60%
      img
        height auto
        width 10vw
        margin 0 5vw
        setBorder(2px, solid, #000)
        border-radius 50%
    &--detail
      locate(absolute, null, 0, 0, 0)
      p
        text-align center
        text-deroration underline
        font-style italic
