.user-profile
  height: 30vh
  border-bottom: 1px solid #eee
  &__header

  &__options-button
    position: absolute
    top: 5px
    right: 20px
  &__frame
    height: 95%
    margin: 2px
    border: 1px solid #ddd
    align-content: center
    border-radius: 2%
    position: relative
  &__picture
    width: 120px
    border-radius: 50%
    position: absolute
    top: 50%
    left: 50%
    margin-top: -60px
    margin-left: -60px
