<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, intial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Climate Chamber Remote Control" />
    <meta name="author" content="Dang Min" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/public/css/style.css" />
    <!-- script src="" -->
    <script src="/public/home/index.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 sidebar">
                <div class="user-profile">
                    <header class="user-profile__header">
                        <div class="user-profile__options dropdown">
                            <button class="c-button" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-bars"></i></button>
                            <ul class="dropdown-menu">
                                <li><a href="#profile-pictures">Change profile pictures</a></li>
                                <li><a href="#signout">Sign out</a></li>
                            </ul>
                        </div>
                    </header>
                    <div class="user-profile__frame">
                        <div>
                            <img class="user-profile__picture" alt="user-profile__image" src="/public/img/default.png" />
                        </div>
                    </div>
                </div>
                <ul class="nav">
                    <li class="navs__option navs__option--active" data-tab="home"><a class="" href="#home">Home</a></li>
                    <li class="navs__option" data-tab="programs"><a class="" href="#programs">Programe</a></li>
                    <li class="navs__option" data-tab="aux-data"><a class="" href="#aux-data">Aux Data</a></li>
                    <li class="navs__option" data-tab="options"><a class="" href="#options">Options</a></li>
                    <li class="navs__option" data-tab="quickstart"><a class="" href="#quickstart">Quick Start</a></li>
                    <li class="navs__option" data-tab="about"><a class="" href="#about">About</a></li>
                </ul>
            </div>
            <div class="col-md-10 container">
                <div id="home" class="container__tabs home container__tabs--active container-fluid">
                    <header class="container__tabs--header">
                        <h1 class="">Home</h1>
                        <div id="serialport-state-js"></div>
                    </header>
                    <div class="row home__monitor">
                        <div class="col-md-3" id="program-table-js"></div>
                        <div class="col-md-9 row meter__container">
                          <div class="col-md-6 meter__display">
                            <canvas id="thermo-display-js"></canvas>
                          </div>
                          <div class="col-md-6 meter__display">
                            <canvas id="humid-display-js"></canvas>
                          </div>
                        </div>
                    </div>
                    <div class="row home__information">
                      <!-- Left panels -->
                      <div class="col-md-6 row no-padding">
                        <!-- Row -->
                        <div class="row">
                          <div class="col-md-6 row">
                            <div class="col-md-3">
                              <button class="tag">T1</button>
                            </div>
                            <div class="col-md-9">

                            </div>
                          </div>
                          <div class="col-md-6 row">
                            <div class="col-md-3">
                              <button class="tag">H1</button>
                            </div>
                            <div class="col-md-9">

                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6 row">
                            <div class="col-md-3">
                              <button class="tag">T2</button>
                            </div>
                            <div class="col-md-9">

                            </div>
                          </div>
                          <div class="col-md-6 row">
                            <div class="col-md-3">
                              <button class="tag">H2</button>
                            </div>
                            <div class="col-md-9">

                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Right panels -->
                      <div class="col-md-6 row no-padding">
                        <div class="row tags__row">
                          <button class="tag">T1</button>
                          <button class="tag">H1</button>
                          <button class="tag">C1</button>
                          <button class="tag">V1</button>
                          <button class="tag">P1</button>
                          <button class="tag">P3</button>
                          <button class="tag">Pwr</button>
                        </div>
                        <div class="row tags__row">
                          <button class="tag">T2</button>
                          <button class="tag">H3</button>
                          <button class="tag">C2</button>
                          <button class="tag">V2</button>
                          <button class="tag">P2</button>
                          <button class="tag">FN1</button>
                          <button class="tag">LNV</button>
                        </div>
                      </div>
                    </div>
                </div>
                <div id="programs" class="container__tabs  container-fluid">
                    <header class="container__tabs--header">
                        <h1 class="">Programs</h1>
                    </header>
                    <div class="row" id="programs-js"></div>
                    <div class="row content__small">
                        <div class="control-box">
                            <button class="s-button">New</button>
                            <button class="s-button">Load</button>
                            <button class="s-button">Rename</button>
                            <button class="s-button">Delete</button>
                            <button class="s-button">Start</button>
                            <button class="s-button">Stop</button>
                        </div>
                    </div>
                </div>
                <div id="aux-data" class="container__tabs">
                    <header>
                        <h1>Aux Data</h1>
                    </header>
                    <div class="row aux-data content__big">
                        <div class="col-md-3 border-right">
                            <div class="" id="programs-list-js">

                            </div>
                        </div>
                        <div class="col-md-9 content__small">
                            <form>
                                <div class="row">
                                    <div class="col-md-6 center-container">
                                        <div>Plot interval:&nbsp;</div>
                                        <input type="text" />&nbsp;minutes.
                                    </div>
                                    <div class="col-md-6 center-container">
                                        <button type="button">Update</button>
                                        <button type="button">Generate</button>
                                    </div>
                                </div>
                            </form>
                            <div id="graph-js">

                            </div>
                        </div>
                    </div>
                </div>
                <div id="options" class="container__tabs">

                </div>
                <div id="quickstart" class="container__tabs">

                </div>
                <div id="about" class="container__tabs">

                </div>
            </div>
        </div>
    </div>
</body>
</html>
